<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="perfume store in UAE that has the most best selling perfume testers">

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,300;1,400&family=Old+Standard+TT&family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        
        <!-- icons -->
        <script src="https://kit.fontawesome.com/3198edb026.js" crossorigin="anonymous"></script>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
        
        <!-- css  -->
        <link href="/css/styles.css" rel="stylesheet">
        
        <!-- title & icon  -->
        <link href="/pics/logo.png" rel="icon">
        <title>Men | Original Perfume Testers in UAE </title>

    </head>

    <body class="perfumes-body">

        <!-- navbar -->
        <nav class="border-bottom">
            <div class="container-fluid">
                <!-- normal-navbar -->
                <div class="row normal-navbar">
                    <div class="col-2 brand-name-div">
                        <a href="/index.html"><img class="brandname" src="/pics/brandname.png" alt="Nausheen perfumes logo"></a>
                    </div>
                    <div class="col-1 logo">
                       <!-- <img id="logo" class=" " src="/pics/logo.png" alt="Nausheen perfumes logo">  -->
                    </div>
                    <div class="col-6 nav-items  pt-3">
                        <div class="d-flex justify-content-center">
                            <a href="/index.html#bestsellers" class="me-4">Best Sellers</a>
                            <a href="/templates/women.html" class="me-4">Women</a>
                            <a href="/templates/men.html" class="me-4">Men</a>
                            <a href="/templates/unisex.html" class="me-4">Unisex</a>
                            <a href="/templates/brands.html" class="me-4">Brands</a>
                            <a href="/index.html#pricelist" class="me-4">Price List</a>
                        </div>
                    </div>
                    <div class="col-2 right-side pt-3">
                        <div class="d-flex">
                            <p><a href="https://wa.me/971522631843">Order Now </a></p>
                            <a class="whatsappicon ps-3" target="_blank" href="https://wa.me/971522631843"><i class="fa-brands fa-whatsapp fa-2xl "></i></a>
                        </div>
                    </div>
                </div>

                <!-- navbar when minimized  -->
                <div class="row brandname-minimized">
                    <div class="col-4 left-bts pt-1">
                        <a href="/index.html"><img class="" src="/pics/brandname.png" alt="Nausheen perfumes logo"></a>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-1 right-bts">
                       <!-- <img class="" src="/pics/logo.png" alt="Nausheen perfumes logo">  -->
                    </div>
                </div>
                <!-- nav items minimized  -->
                <div class="row nav-items-minimized">
                    <div class="col-9 left-bts">
                        <div class="d-flex ">
                            <a href="/index.html#bestsellers">Best-Sellers</a>
                            <a href="/templates/women.html">Women</a>
                            <a href="/templates/men.html">Men</a>
                            <a href="/templates/unisex.html">Unisex</a>
                            <a href="/index.html#pricelist">Price List</a>
                        </div>
                    </div>
                    <div class="col-3 right-bts">
                        <div class="d-flex">
                            <p><a href="https://wa.me/971522631843">Order Now </a></p>
                            <a class="whatsappicon" target="_blank" href="https://wa.me/971522631843"><i class="fa-brands fa-whatsapp fa-2xl "></i></a>
                        </div>
                    </div>
                </div>
            </div>
            

        </nav>


        <!-- header  -->
       <!-- <header class="header">
            <span class="left-bts">free delivery all over UAE (except for far area and Western Region)
            </span>
            <span class="right-bts">
                <a href="/templates/about.html" class="me-4 ">ABOUT</a>
                <a href="/templates/returns.html" class="me-3">RETURNS AND EXCHANGES</a>
            </span>
        </header> -->


        <!-- main  -->
        <section id="menpage" class="container">
            <div class="intro">
                <p>shop by category</p>
                <h6>Men  </h6>
            </div>

            <!-- rows  -->
            <div class="row perfume-rows">

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Azzaro_The_Most_Wanted.html"><img class="zoom" src="/pics/perfumes2/Azzaro_The_Most_Wanted.png" alt="Azzaro_The_Most_Wanted"></a>
                    </div>
                    <a href="/templates/perfumes/Azzaro_The_Most_Wanted.html" ><p>Azzaro The Most Wanted</p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/bleu.html"><img class="zoom" src="/pics/perfumes2/blue.jpg" alt="Bleu De Chanel"></a>
                    </div>
                    <a href="/templates/perfumes/bleu.html" ><p>Bleu De Chanel</p></a>
                </div>
                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Hugo_Boss_Oud_Saffron.html"><img class="zoom" src="/pics/perfumes2/Hugo_Boss_Oud_Saffron.jpg" alt="Glacial Essence"></a>
                    </div>
                    <a href="/templates/perfumes/Hugo_Boss_Oud_Saffron.html" ><p>Hugo Boss Oud Saffron</p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Dior_Sauvage.html"><img class="zoom" src="/pics/perfumes2/Dior_Sauvage.jpg" alt="Dior_Sauvage"></a>
                    </div>
                    <a href="/templates/perfumes/Dior_Sauvage.html" ><p>Dior Sauvage</p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Azzaro_Wanted.html"><img class="zoom" src="/pics/perfumes2/Azzaro_Wanted.jpeg" alt="Azzaro_Wanted"></a>
                    </div>
                    <a href="/templates/perfumes/Azzaro_Wanted.html" ><p>Azzaro Wanted</p></a>
                </div>
                 
                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Dylan_blue_versace.html"><img class="zoom" src="/pics/perfumes2/Dylan_blue_versace.webp" alt="Dylan_blue_versace"></a>
                    </div>
                    <a href="/templates/perfumes/Dylan_blue_versace.html" ><p>Dylan blue versace</p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Invictus_by_pacco_rabbane.html"><img class="zoom" src="/pics/perfumes2/Invictus_by_pacco_rabbane.webp" alt="Invictus_by_pacco_rabbane"></a>
                    </div>
                    <a href="/templates/perfumes/Invictus_by_pacco_rabbane.html" ><p>Invictus Rabbane</p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/lacoste_challenge.html"><img class="zoom" src="/pics/perfumes2/lacoste_challenge.jpg" alt="lacoste_challenge"></a>
                    </div>
                    <a href="/templates/perfumes/lacoste_challenge.html" ><p>Challenge Lacoste</p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/One_Million.html"><img class="zoom" src="/pics/perfumes2/One_Million.jpg" alt="One_Million"></a>
                    </div>
                    <a href="/templates/perfumes/One_Million.html" ><p>1 Million</p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/tom_ford_noir.html"><img class="zoom" src="/pics/perfumes2/tom_ford_noir.jpg" alt="tom_ford_noir"></a>
                    </div>
                    <a href="/templates/perfumes/tom_ford_noir.html" ><p>Tom Ford Noir</p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/tom_ford_oud_wood.html"><img class="zoom" src="/pics/perfumes2/tom_ford_oud_wood.webp" alt="tom_ford_oud_wood"></a>
                    </div>
                    <a href="/templates/perfumes/tom_ford_oud_wood.html" ><p>Tom Ford Oud Wood</p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/tom_ford_black_orchid.html"><img class="zoom" src="/pics/perfumes2/tom_ford_black_orchid.jpg" alt="tom_ford_black_orchid"></a>
                    </div>
                    <a href="/templates/perfumes/tom_ford_black_orchid.html" ><p>Tom Ford Black Orchid</p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Oud_maracuja.html"><img class="zoom" src="/pics/perfumes2/Oud_maracuja.webp" alt="Oud_maracuja"></a>
                    </div>
                    <a href="/templates/perfumes/Oud_maracuja.html" ><p>Oud Maracuja</p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Shay_Oud.html"><img class="zoom" src="/pics/perfumes2/Shay_Oud.jpg" alt="Shay_Oud"></a>
                    </div>
                    <a href="/templates/perfumes/Shay_Oud.html" ><p>Shay Oud</p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Armani_Stronger_with_you.html"><img class="zoom" src="/pics/perfumes2/Armani_Stronger_with_you.jpg" alt="Shay_Oud"></a>
                    </div>
                    <a href="/templates/perfumes/Armani_Stronger_with_you.html" ><p>Emporio Armani Stronger With You</p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Ultra_male_by_JPG.html"><img class="zoom" src="/pics/perfumes2/Ultra_male_by_JPG.jpg" alt="Ultra_male_by_JPG"></a>
                    </div>
                    <a href="/templates/perfumes/Ultra_male_by_JPG.html" ><p>Ultra Male Jean Paul Gaultier</p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Pi_givenchy.html"><img class="zoom" src="/pics/perfumes2/Pi_givenchy.webp" alt="Pi_givenchy"></a>
                    </div>
                    <a href="/templates/perfumes/Pi_givenchy.html" ><p>Pi Givenchy</p></a>
                </div>

                 <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Angles_share_by_kilian.html"><img class="zoom" src="/pics/perfumes2/Angles_share_by_kilian.webp" alt="Pi_givenchy"></a>
                    </div>
                    <a href="/templates/perfumes/Angles_share_by_kilian.html" ><p>Angels' Share By Kilian</p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Lattafa_Khamrah.html"><img class="zoom" src="/pics/perfumes2/Lattafa_Khamrah.jpg" alt="Lattafa_Khamrah"></a>
                    </div>
                    <a href="/templates/perfumes/Lattafa_Khamrah.html" ><p> Khamrah Lattafa</p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Lattafa_Qahwa.html"><img class="zoom" src="/pics/perfumes2/Lattafa_Qahwa.jpg" alt="Lattafa_Qahwa"></a>
                    </div>
                    <a href="/templates/perfumes/Lattafa_Qahwa.html" ><p> Khamrah Qahwa Lattafa </p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Mukhalat_Malaki_by_swissArabian.html"><img class="zoom" src="/pics/perfumes2/Mukhalat_Malaki_by_swissArabian.png" alt="Mukhalat_Malaki_by_swissArabian"></a>
                    </div>
                    <a href="/templates/perfumes/Oud_for_Greatness.html" ><p> Mukhalat Malaki Swiss Arabian </p></a>
                </div>

                
                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Oud_for_Greatness.html"><img class="zoom" src="/pics/perfumes2/Oud_for_Greatness.jpeg" alt="Oud_for_Greatness"></a>
                    </div>
                    <a href="/templates/perfumes/Oud_for_Greatness.html" ><p> Oud for Greatness Initio </p></a>
                </div>

                

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/marg_ahmed_al_magribi.html"><img class="zoom" src="/pics/perfumes2/marg_ahmed_al_magribi.png" alt="marg_ahmed_al_magribi"></a>
                    </div>
                    <a href="/templates/perfumes/marg_ahmed_al_magribi.html" ><p> Marj Ahmed Al Maghrib </p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Gris_Dior.html"><img class="zoom" src="/pics/perfumes2/Gris_Dior.png" alt="Gris_Dior"></a>
                    </div>
                    <a href="/templates/perfumes/Gris_Dior.html" ><p> Gris Dior </p></a>
                </div>

                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/eros.html"><img class="zoom" src="/pics/perfumes2/eros.jfif" alt="Eros"></a>
                    </div>
                    <a href="/templates/perfumes/eros.html" ><p>Eros</p></a>
                </div>
                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/explorer.html"><img class="zoom" src="/pics/perfumes2/explorer.jfif" alt="Explorer"></a>
                    </div>
                    <a href="/templates/perfumes/explorer.html" ><p>Explorer</p></a>
                </div>
                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/acqua.html"><img class="zoom" src="/pics/perfumes2/gio.jpg" alt="Acqua di Giò"></a>
                    </div>
                    <a href="/templates/perfumes/acqua.html" ><p>Acqua di Giò</p></a>
                </div>
                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/acquawhite.html"><img class="zoom" src="/pics/perfumes2/giowhite.jpg" alt="Acqua di Giò"></a>
                    </div>
                    <a href="/templates/perfumes/acquawhite.html" ><p>Acqua di Giò- White</p></a>
                </div>
                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/fahrenheit.html"><img class="zoom" src="/pics/perfumes2/fehrenhiet.jpg" alt="Fahrenheit"></a>
                    </div>
                    <a href="/templates/perfumes/fahrenheit.html" ><p>Fahrenheit </p></a>
                </div>
                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/essential.html"><img class="zoom" src="/pics/perfumes2/lacoste.png" alt="Essential"></a>
                    </div>
                    <a href="/templates/perfumes/essential.html" ><p>Essential</p></a>
                </div>
                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/Allure.html"><img class="zoom" src="/pics/perfumes2/allure.jpg" alt="Allure Homme Sport"></a>
                    </div>
                    <a href="/templates/perfumes/Allure.html" ><p>Allure Homme Sport</p></a>
                </div>
                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/legendspirit.html"><img class="zoom" src="/pics/perfumes2/legendspirit.png" alt="Legend Spirit"></a>
                    </div>
                    <a href="/templates/perfumes/legendspirit.html" ><p>Legend Spirit</p></a>
                </div>
                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/l'hommeideal.html"><img class="zoom" src="/pics/perfumes2/l'hommeideal.jfif" alt="L’Homme Ideal"></a>
                    </div>
                    <a href="/templates/perfumes/l'hommeideal.html" ><p>L’Homme Ideal</p></a>
                </div>
                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/menpartyfever.html"><img class="zoom" src="/pics/perfumes2/menparty1.jpg" alt="212 VIP Men Party Fever"></a>
                    </div>
                    <a href="/templates/perfumes/menpartyfever.html" ><p>212 VIP Men Party Fever</p></a>
                </div>
                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/aqva.html"><img class="zoom" src="/pics/perfumes2/aqva.jpg" alt="Aqva"></a>
                    </div>
                    <a href="/templates/perfumes/aqva.html" ><p>Aqva</p></a>
                </div>
                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/aventus.html"><img class="zoom" src="/pics/perfumes2/aventus.jpg" alt="Aventus"></a>
                    </div>
                    <a href="/templates/perfumes/aventus.html" ><p>Aventus</p></a>
                </div>
                
                <div class="col-4 perfume">
                    <div class="zoombox">
                        <a href="/templates/perfumes/emblem.html"><img class="zoom" src="/pics/perfumes2/emblem.jfif" alt="Emblem Absolu"></a>
                    </div>
                    <a href="/templates/perfumes/emblem.html" ><p>Emblem Absolu</p></a>
                </div>
            </div>
        </section>


        <!-- line -->
        <div class="container-md mt-5 pt-5">
            <div class="row border pink-line"></div>
        </div>

        
        <!-- footer -->
        <footer class="footer">
            <div class="container footer-items">
                <div class="row">
                    <div class="col-4 logo-moto">
                        <img class="img1" src="/pics/brandname.png" alt="Nausheen perfumes logo">
                        <p>UAE's favorite online store for original perfume testers shipping all over UAE.</p>
                        <img class="img2" src="/pics/codcar.png" alt="cash on delivery sign">
                    </div>
                    <div class="col-2 categories">
                        <h6>CATEGORIES</h6>
                        <ul class="">
                            <li><a href="/templates/women.html">Women</a></li>
                            <li><a href="/templates/men.html">Men</a></li>
                            <li><a href="/templates/unisex.html">Unisex</a></li>
                            <li><a href="/templates/brands.html">Brands</a></li>
                            <li><a href="/index.html#bestsellers">Best Sellers</a></li>
                        </ul>
                    </div>
                    <div class="col-2 links ">
                        <h6>IMPORTANT LINKS</h6>
                        <ul>
                            <li><a href="/templates/about.html">About</a></li>
                            <li><a href="/templates/faqs.html">FAQs</a></li>
                            <li><a href="/templates/returns.html">Returns and Exchanges</a></li>
                        </ul>
                    </div>
                    <div class="col-3 contact-us ">
                        <div class="contact-info">
                            <h6>CONTACT US</h6> 
                            <table>
                                <tbody>
                                    <tr>
                                        <td><b>Phone:</b> </td>
                                        <td> +971-52-263-1843</td>
                                    </tr>
                                    <tr>
                                        <td><b>Email:</b></td>
                                        <td>nausheenperfumes@gmail.com</td>
                                    </tr>
                                </tbody>
                            </table>
                           
                        </div>
                        <div class="social-media">
                            <h6 class="">SOCIAL MEDIA</h6>
                            <a target="_blank" href="https://www.facebook.com/groups//"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                            <a target="_blank" href="https://www.instagram.com/nausheen_perfumes/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                            <a target="_blank" href="https://wa.me/971522631843"><i class="fa-brands fa-whatsapp fa-2xl "></i></a>
                        </div>

                    </div>
                </div>

                <!-- all rights reserved -->
                <div class="border mt-5 "></div>
                <div class="mt-2">
                    <p class="fs-6 fst-italic">All rights reserved. <br> Nausheen Perfumes, UAE, <span class="year"></span>.</p>
                </div>   
            </div>
        </footer>

        <!-- javascript -->
        <script src="/script.js"></script>

        <!-- bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    </body>
</html>
